__pycache__/

# Don't track the original 131 MB input data file, but allow the split ones.
/data/okcupid_profiles.csv

# Trained model files.
/models/*.skmodel

# Fitted encoder files.
/models/encoders/*.skencoder
