{% extends 'layout.html' %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Matchmaker!</h1>

    <p class="lead">Matchmaker is a machine-learning project to perform similarity matching using a dataset of OkCupid dating profiles.</p>

    <hr class="my-4">

    <p>On the next page you will first be asked your basic details such as your sex and orientation, and then more interesting questions such as your religion, education, use of drugs, etc. The former questions are matched using logic rules (e.g. a straight woman's candidates will be filtered down to non-gay men). That's the easy part. The latter questions (religion, pets, children, etc) will be run through a <a href="https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm" target="_blank">k-nearest neighbors model</a>. This means that you will be plotted within an n-dimensional space (think a graph with many axes) along with the rest of the dating profiles, and your matches will be the ones nearest to you in the space, where "nearest" effectively means similarity. Hence the name of the algorithm: "Nearest Neighbors".</p>
    <p>Weighting is applied appropriately so that differences on some dimensions will have more of an influence on similarity than differences on others. For example, a 28-year-old non-smoker would probably be more averse to dating a 27-year-old smoker than they would be to dating a 26-year-old non-smoker. And a vegan is probably more willing to date a vegetarian than they are to date an omnivore, since the former is "nearer" to the latter. Note that these weights are calibrated according to my own biases!</p>
    <p>From a technical perspective, the entire thing is done in <a href="https://www.python.org/" target="_blank">Python</a> with the <a href="https://pandas.pydata.org/" target="_blank">pandas</a>, <a href="https://numpy.org/" target="_blank">NumPy</a> and <a href="https://scikit-learn.org" target="_blank">scikit-learn</a> packages. The model will run in real-time; no pre-calculation or pre-training, so it might take about 5 seconds to run. You're viewing this within a <a href="https://www.djangoproject.com/" target="_blank">Django</a> app deployed to <a href="https://heroku.com/" target="_blank">Heroku</a>. If you wish, you can clone the <a href="https://github.com/GlenCrawford/matchmaker" target="_blank">GitHub repo</a> and run it as a command-line tool as well: <code>python matchmaker.py</code>. And yes, this is a <a href="https://getbootstrap.com/" target="_blank">Bootstrap UI</a>.</p>
    <p>Note to self: Next time do something easier and less...<em>controversial</em>. The training data has, for example, 217 unique values for ethnicity and 45 for religion, including <em>radical agnostics</em>, which I'm pretty sure is an oxymoron. The options you will be able to select from on the next page will be from a more consolidated set of options, just for my own sanity.</p>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#privacyModal">
      Ready? Let's go!
    </button>
  </div>

  <div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="privacyModalTitle">Oh, don't worry about your privacy!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          This site doesn't store any of your data. No cookies, no API calls, no nothing. It doesn't even have a database configured (seriously).
        </div>
        <div class="modal-footer">
          <a href="{% url 'profile' %}" class="btn btn-primary">Nice</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
